
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(129, 210, 231);
}
.Quote-box{
    width: 700px;
    height: 400px;
    align-items: center;
    background-color: rgb(194, 239, 239);
    border-radius: 15px;
    padding: 30px 30px 25px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.Quote-box h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.Quote-box {
    margin: 35px 0;
}

.content{
  margin: 10px;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area .i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 25px;
    text-align: center;
    word-break: normal;
}
.content .author{
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'PT Serif', serif;
/* font-family: 'Varela Round', sans-serif; */
}

#authordiv{
  justify-content: end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: 'PT Serif', serif;
    font-family: 'Varela Round', sans-serif;
}
.Quote-box .buttons{
    border-top: 3px solid;
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 60px;
    width: 60px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid;
    cursor: pointer;
}
.features button{
  border: none;
  outline: none;
  padding: 15px 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  background: black;
  
}
/* @import url('https://fonts.googleapis.com/css?family=Mukta:700');

/* $bg: #f3f8fa;
$white: #fff;
$black: #282936; */

/* @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: bg;
}

.buttons {
  position: relative;
  display: flex;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: ". main main ." ". main main .";
  }
  
  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  } 
} */
